<% include ./partials/header.ejs %>
<header class="jumbotron jumbotron-fluid" id="n_jumbo">
<div class="container" id="roo">
<div id="foo">
<h1>Welcome to <span id="hoo"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>CampPrep</h1></span>
<p><b>A place to share and explore success paths , ideas ,career talk and many more..</b></p>
<p>
</div>
<a class="btn btn-success btn-large"  href="/campgrounds/new">Add a new CampPrep</a>
</p>
</div>

</header>

<div class="jumbotron" style="margin-bottom:0px !important;background-color:#FFFFFF;" id="n2_jumbo">
  <div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="thumbnail">
    <img src="https://www.rainbowtoken.com/wp-content/uploads/2018/03/aaron-burden-64849-unsplash.jpg">
    </div>
    </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
   <p><b>CampPrep is a place to gain and share knowledge.</b></p>
   <p><b>Provides a way to people to learn from others.</b></p>
   <p><b>A place where conversation pushes ideas forward.</b></p> 

    </div>
    
  </div>
  </div>
  </div>
</div>


<div class="jumbotron" style="margin-bottom:0px !important;background-color:#FFFFFF;" id="n2_jumbo">
  <div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
   <h2>What you can find here ?</h2>
   <p><b>class , guidance , achievement , focus , vision , skills , freedom , future , opportunities and probably everything...</b> </p>
   

    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="thumbnail">
    <img src="http://jenxers.com/wp-content/uploads/2018/02/books-susplash-aaron-burden-426280-unsplash-1280x640.jpg">
    </div>
    </div>
  </div>
  </div>
  </div>
  <div class="jumbotron" style="margin-bottom:0px !important;background-color:#FFFFFF;" id="n3_jumbo">
  <div class="container">
    <p><b>Nothing can be better than having a centralized place where you can find the path and at a same time you can read and have  a public conversation with people who have achieved that.</b> 
</p>
<h2 align="center">Welcome to that place!!</h2>
  </div>
  
  </div>
</div>
</div>

  
<% include ./partials/footer.ejs %>